.message {
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin: 1rem 0;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid var(--border-color);
}

.message.error {
    background-color: #ea071e;
}

.message.success {
    background-color: #155724;
}