#register,
#login {
  background-image: url("../../assets/Img-Home/Home-bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom left, #fff, var(--border-color));
  box-shadow: -0.5rem 0.5rem 0.5rem 0.3rem var(--border-color);
  padding: 2rem 4rem;
}

.form h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: #fff;
  text-shadow: -.25rem .15rem var(--border-color);
  font-weight: bolder;
}

.form form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
