#register,
#login {
  background-image: url("../../assets/texture-bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--default-font-color);
  height: 100dvh;
}

#register,
#login .form {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom left, #fff, var(--border-color));
  box-shadow: -0.5rem 0.5rem 0.5rem 0.3rem var(--border-color);
  padding: 2rem 4rem;
}

#register,
#login .form h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: #fff;
  text-shadow: -0.25rem 0.15rem var(--border-color);
  font-weight: bolder;
}

#register,
#login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

@media (min-width: 320px) and (max-width: 759px) and (max-height: 1040px) {
  #register,
  #login .form {
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom left, #fff, var(--border-color));
    box-shadow: -0.5rem 0.5rem 0.5rem 0.3rem var(--border-color);
    padding: 1rem 2rem;
  }
}
