#contact {
  background: linear-gradient(
    to top left,
    var(--border-color),
    var(--main-bg-color)
  );
  color: var(--default-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  box-shadow: 0 0 0.5rem 0.5rem var(--border-color);
}

.address {
  width: 90%;
  padding: 2rem 2rem;
}

.address-content {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-content h3 {
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: #fff;
  text-shadow: -0.25rem 0.15rem #000;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.address-content img {
  height: 10rem;
}

.contact-info p,
.contact-info a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.7rem;
}

.contact-info p svg,
.contact-info a {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.address-content p {
  margin-bottom: 1.5rem;
}

.address .title h2 {
  font-size: 4rem;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: #fff;
  text-shadow: -0.25rem 0.15rem #000;
}

.address .title hr {
  width: 5rem;
  height: 0.2rem;
  background-color: #fff;
  margin-bottom: 5rem;
}
