#services {
  background-image: url("../../assets/olga-thelavart-vR8xIbr1EtU-unsplash.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--default-font-color);
  text-align: center; 
}

.title-service {
  background: linear-gradient(
    to top left,
    var(--border-color),
    var(--main-bg-color)
  );
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  height: 7rem;
  margin: 0 auto 3rem 0;
  border-radius: 0 2rem 2rem 0;
}

.hidden-service {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(100%);
}

.show-service {
  filter: blur(0px);
  transform: translateX(0);
  opacity: 1;
}

.title-service h2{
  font-size: 3rem;
  padding: 1rem;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: #fff;
  text-shadow: -.25rem .15rem #000;
}

.container-services {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  background-color: #fff; 
  box-shadow: 0 0 0.5rem 0.2rem var(--border-color);
  padding: 2rem;
  width: 90%;
  min-height: 70dvh;
  margin: 1rem 0;
  border-radius:2rem 2rem;

}

.container-services :nth-child(1){
  transition-delay: 600ms;
}
.container-services :nth-child(2){
  transition-delay: 800ms;
}
.container-services :nth-child(3){
  transition-delay: 1s;
}

#services .services-content {
  background: linear-gradient(
    to top left,
    var(--border-color),
    var(--main-bg-color)
  );
  box-shadow: 0 0 0.5rem 0.5rem var(--border-color);
  min-height: 30rem;
  width: 20rem;
  border-radius: 1rem 1rem;
  text-align: center;
}

.services-content h3 {
  font-size: 2rem;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: #fff;
  text-shadow: -.25rem .15rem #000;
  margin: 2rem;
}

.services-details {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1rem 0.5rem 2rem 0.5rem;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.services-content p {
  width: 50%;
  padding-bottom: 1rem;
}


.open-modal {
  margin: 0.5rem;
}