#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--default-font-color);
  text-align: center;
}

#services .title {
  background: linear-gradient(
    to top left,
    var(--border-color),
    var(--main-bg-color)
  );
  box-shadow: 0 0 0.5rem 0.5rem var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  margin: -4rem 0 2rem 0;
  border-radius: 50% 50%;
}
#services .title h2 {
  font-size: 3rem;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: #fff;
  text-shadow: -.25rem .15rem #000;
}

#services .container-services {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 90%;
  min-height: 70dvh;
  margin: 1rem 0;
}

#services .services-content {
  background: linear-gradient(
    to top left,
    var(--border-color),
    var(--main-bg-color)
  );
  box-shadow: 0 0 0.5rem 0.5rem var(--border-color);
  min-height: 30rem;
  width: 20rem;
  border-radius: 1rem 1rem;
  text-align: center;
}

#services .services-content h3 {
  font-size: 2rem;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: #fff;
  text-shadow: -.25rem .15rem #000;
  margin: 2rem;
}

#services .services-details {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1rem 0.5rem 2rem 0.5rem;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.services-content p {
  width: 50%;
  padding-bottom: 1rem;
}

#services .form .btn {
  margin: 0.5rem;
}

.open-modal {
  margin: 0.5rem;
}