.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom left, #fff, var(--border-color));
  box-shadow: -0.5rem 0.5rem 0.5rem 0.3rem var(--border-color);
  width: 20rem;
  min-height: 27rem;
}

.modal-content > :nth-child(1) {
    width: 100%;
    text-align: right;
}

.close-menu {
    margin: .5rem;
}

.modal-content h3 {
  margin: 1rem 0 2rem 0;
}

.modal-content select {
  margin-bottom: 0.6rem;
  width: 100%;
  height: 3rem;
  text-align: center;
}

.modal-content .btn {
  margin: 1rem;
}