.modal-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to top left,
    var(--border-color),
    var(--main-bg-color)
  );  
  border-radius: 1rem;
  min-width: 15rem;
  max-width: 25rem;
  min-height: 10rem;
}

.modal-alert .alert-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-weight: bold;
  min-height: 4rem;
  width: 100%;
  padding: 1.5rem;
}

.alert-content .title-modal{
  background-color: var(--border-color);
  width: 80%;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1.5rem 0;
  font-size: 1.6rem;
}

.modal-alert .btn{
  margin: 1rem;
}

@media (min-width: 320px) and (max-width: 759px) and (max-height: 1040px) {
  .modal-alert {
    min-width: 15rem;
    max-width: 20rem;

  }
}



