#nav{ 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    z-index: 2;
}

.logo img{
    margin: 2rem 0 0 1rem;
    height: 5rem;
}

#nav .btn {
    margin-right: 1rem;
}

@media (max-width: 800px){
    .logo img{
        margin: 3rem 0 0 1rem;
        height: 5rem;
    }
}
