#footer {
    background: linear-gradient(
        to bottom left,
        var(--border-color),
        var(--main-bg-color)
    );    
    color: var(--default-font-color);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
