#footer {
    background-color: var(--main-bg-color);
    color: var(--default-font-color);
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: .1rem solid var(--border-color);
}
