*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    transition: all 1s;
    scroll-behavior: smooth;
}

:root {
   --main-bg-color: #FF3696;
   --button-color: #FF396E;
   --border-color: #C52E56;
   --default-font-color: #FFF;
   --secundary-font-color: #000;
   --error-msg-color: #721C24;
   --success-msg-color: #155724;
   --test-color: #EBBBD0;
}

a {
    color: var(--default-font-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: var(--border-color);
}

.btn {
    background-color: var(--button-color);
    border: 1.5px solid var(--border-color);
    color: var(--default-font-color);
    max-width: 8rem;
    border-radius: .7rem;
    padding: .7rem .9rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .05rem;
    cursor: pointer;
}

.btn:active{
    background-color: var(--border-color);
}

ul {
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    color: var(--secundary-font-color);
    width: 13rem;
    border: .1rem solid var(--border-color);
    border-radius: .2rem;
    padding: 1rem .6rem;
    margin: .5rem;
}

select {
    color: var(--secundary-font-color);
    width: 13rem;
    border: .1rem solid var(--border-color);
    border-radius: .2rem;
    padding: 1rem .6rem;
    margin: .5rem;
}

input::placeholder {
    color: #969696;
}

input:focus {
    box-shadow: 0 0 0.5rem 0.2rem var(--border-color);
}